/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testoAlternato {
  border: 2px solid black;
  padding: 2em 6em 2em 2em;
}

span {
  color: rgb(105, 177, 201);
  font-size: 20px;
  font-weight: 800s;
  padding-left: 0.4em;
}
.parole i {
  position: absolute;
  opacity: 0;
  animation: blink 6s linear infinite 0s;
}

.parole i:nth-child(2) {
  animation-delay: 2s;
}
.parole i:nth-child(3) {
  animation-delay: 4s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  2% {
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  17% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
  }
}
