/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body,
html {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  height: 100%;
}

#testoAlternato {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testoAlternato p {
  border: 2px solid black;
  padding: 2em;
}

span {
  color: rgb(105, 177, 201);
  font-size: 20px;
  font-weight: 800s;
}
.parole i:nth-child(2) {
  animation: blink 2s linear infinite;
}

.parole i:nth-child(3) {
  animation: blink 2s linear infinite;
}

.parole i:nth-child(1) {
  display: inline-block;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
