@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body,
html {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main#container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#post {
  box-shadow: inset 5px 4px 22px -4px #000000;
  border: 18px solid rgb(147, 139, 74);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #666666;
  padding: 3em;
}

.pst {
  display: flex;
  transition: all 0.7s;
  box-shadow: 6px 7px 15px 0px #000000;
  width: 260px;
  height: 190px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 30px;
}

/*Qui inserisco i colori dei vari postit e il transform*/

.postit-1 {
  transform: rotate(-3deg);
  background-image: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(251, 253, 142) 42%
  );
  animation: firstAnPst 3.5s linear 0s;
}
.postit-2 {
  transform: rotate(8deg);
  background: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(118, 215, 124) 42%
  );
  animation: firstAnPst 3.5s linear 0s;
}
.postit-3 {
  transform: rotate(-4deg);
  background: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(164, 164, 239) 42%
  );
  animation: firstAnPst 3.5s linear 0s;
}
.postit-4 {
  transform: rotate(8deg);
  background: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(118, 215, 124) 42%
  );
  animation: firstAnPst 3.5s linear 0s;
}
.postit-5 {
  transform: rotate(-3deg);
  background-image: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(251, 253, 142) 42%
  );
  margin-bottom: 0;
  animation: firstAnPst 3.5s linear 0s;
}
.postit-6 {
  transform: rotate(-6deg);
  background: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(164, 164, 239) 42%
  );
  margin-bottom: 0;
  animation: firstAnPst 3.5s linear 0s;
}
.postit-7 {
  transform: rotate(-2deg);
  background-image: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(251, 253, 142) 42%
  );
  margin-bottom: 0;
  animation: firstAnPst 3.5s linear 0s;
}
.postit-8 {
  transform: rotate(4deg);
  background: linear-gradient(
    to top,
    rgb(121, 120, 120) 0%,
    rgb(118, 215, 124) 42%
  );
  margin-bottom: 0;
  animation: firstAnPst 3.5s linear 0s;
}

/* qui creiamo animazione per hover */
#post .pst:hover {
  transform: rotate(0deg);
  transform: scale(1.3);
  box-shadow: 7px 32px 50px 8px #000000;
  z-index: 1;
}

@keyframes firstAnPst {
  0% {
    opacity: 0;
    scale: 5;
    transform: translate(1000px, 500px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(360deg);
  }
}
